/* header */
.clearfixbefore,
.clearfixafter {
  content: "";
  display: table;
}
.clearfixafter {
  clear: both;
}
.header-top {
  background: rgba(0,47,77,0.3);
  height: 70px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  box-sizing: border-box;
}
/*header end */
/*typography */
* {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', Arial, sans-serif;
  color: #fff !important;
}
body {
  letter-spacing: 0.18em;
}
h1 {
  line-height: 70px;
  height: 70px;
}
h1 a {
  display: block;
  padding: 15px;
  font-size: 24px;
}
h3 {
  font-weight: 300;
  font-size: 2.8em;
  margin-bottom: 20px;
}
#paragraph {
  font-size: 4vh;
  color: #fff;
  text-transform: none !important;
}
.project,
.skill {
  font-size: 1.5vw;
}
.projects,
.skills {
  font-size: 2vw;
}
.title {
/* style used for firstSection */
  font-size: 9vh !important;
  color: #fff;
  text-align: left !important;
  font-weight: bold;
}
#title1 {
  margin-left: 18%;
}
#title2 {
  margin-left: 23%;
}
#title3 {
  margin-left: 28% !important;
}
/* typography ends */
/* section */
.firstSection {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/HNCK8465.jpg");
  background-size: cover;
  text-align: center;
}
.secondSection {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/P1000733.jpg");
  background-size: cover;
  z-index: -1;
}
.thirdSection {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/startup-photos.jpg");
  background-size: cover;
  z-index: -1;
}
/* section ends */
/* interface/layout */
.columns {
  position: relative;
  text-align: center;
  width: 50vw;
  vertical-align: middle;
  display: table-cell;
}
.getaquote-button {
  float: left;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  background-color: #e74c3c;
  border: none;
  border-bottom: 5px solid #c0392b !important;
  text-shadow: 0px -2px #c0392b;
/* Animation */
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  margin-left: 5vw;
  z-index: 2;
  margin-top: 20px;
  width: 10vw;
  height: 6vh;
  font-size: 1.5vw;
  border-top: none;
  border-left: none;
}
.getaquote-buttonhover,
.getaquote-buttonfocus {
  text-decoration: none;
  color: #fff;
}
.getaquote-buttonactive {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}
.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}
.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0,0,0,0.6);
}
.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.8);
}
.bottom>ul>li>a>span {
  background: #333 !important;
  bottom: 20px;
}
.swiper-container {
  width: 600px;
  height: 80vh;
}
.is-selected {
  z-index: 10;
}
.flickity-viewport {
  height: 80vh !important;
  width: 45vh !important;
}
.carousel-cell > img {
  width: 45vh !important;
  height: 80vh !important;
  margin-top: 2vh;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}
.flickity-page-dots {
  bottom: -1vh !important;
}
//form starts//
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

#feedback-page{
	text-align:center;
}

#form-main{
	width: 50%;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
input {
	color: rgba(0,0,0,0.9) !important;
}
